<form action="/names" method="post">
  <label for="player_one_name"><input type="text" name="player_1_name"></label>
  <input type="text" name="player_2_name">
  <input type="submit" value="submit">


</form>
