<h1> Start Battle! </h1>
<form action="/names" method="post">
  Player 1 name:
  <input type="text" name="player_1_name">
  Player 2 name:
  <input type="text" name="player_2_name">
  <input type="submit" value="submit">
</form>
